.form-body {  

margin-bottom: 30px;
}


.form-login {
  padding: 15px 35px 40px;
  margin: 80px auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1); 
  } 

.form-login-heading {
    margin-bottom: 20px;
  }

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    
  }


